.card-wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.one {
  border: 1px solid #EAEAEA;
  padding: 30px 20px;
  border-radius: 10px;
  display: flex;
  gap: 8px;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.heading {
  margin: 0;
  font-weight: bold;
  display: block;
  font-size: 1.25rem;
}

.item {
  flex: 1;
}
